.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(116, 140, 141);
  color: white;
  gap: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
}

.button {
  background-color: rgb(158, 4, 132);
  color: white;
  padding: 10px;
  width: 100px;
  margin-left: auto;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgba(228, 128, 211, 0.693);
    transition: all 0.5s;
    transform: scale(1.1);
  }
}
