.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(84, 84, 84);
  color: white;
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px;
  width: auto;
  box-shadow: 0 0 9px 3px black;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 0 4px black;
  margin-bottom: 50px;
}

.list {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0 0 4px black;
  gap: 50px;
}

.item {
  color: white;
  text-decoration: none;
}

.active {
  color: rgb(219, 6, 184);
}

.button {
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px gray;
  font-size: 1.5rem;
  background-color: rgb(158, 4, 132);
  color: white;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(228, 128, 211, 0.693);
    transition: all 0.5s;
    transform: scale(1.1);
  }
}
